
body
{
    font-family: 'Roboto', 'Arial', serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;

    margin: 0;
    padding: 0;

    color: #fff;
    background-color: #849d8f;
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
    width: 860px;
    margin: 0 auto;
    padding: 0 20px;
}

.red-btn
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    height: 44px;
    padding: 0 20px;

    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(#f26844,#cb3a27);
    box-shadow: 0 2px 2px rgba(85,8,0,.54);
    /*  text-shadow: 0 2px 2px #000000;*/
}

.red-btn:hover
{
    color: #fff;
    border: none;
    background-color: #fff;
    background-image: linear-gradient(#f58669,#ec6f5e);
    box-shadow: 0 1px 2px #ac1000;
}

.red-btn:active
{
    color: #fff;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(rgba(216,71,50,.93),rgba(224,96,62,.93));
    box-shadow: inset 0 2px 2px #942718;
}

a
{
    text-decoration: none;

    color: #f7f8f8;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

a:hover,
a:active
{
    color: #e95038;
    border-bottom: 1px solid rgba(255,188,158,.3);
}

input,
textarea
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    box-sizing: border-box;
    padding: 13px;

    color: #000;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
    font-weight: 300;

    color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
{
    font-weight: 300;

    color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder
{
    font-weight: 300;

    color: #999;
}

input
{
    height: 42px;
}

input:hover,
textarea:hover
{
    border: 1px solid #c7c6c5;
    box-shadow: inset 0 0 0 1px #c7c6c5;
}

input:focus,
textarea:focus
{
    border: 1px solid #5b9ddf;
    outline: none;
    box-shadow: inset 0 0 0 1px #5b9ddf;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder
{
    font-size: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder
{
    font-size: 0;
}
.upper-placeholder
{
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;

    position: absolute;

    visibility: hidden;
}

input:focus + .upper-placeholder,
textarea:focus + .upper-placeholder
{
    visibility: visible;

    color: #5b9ddf;
}

/*-----------MAIN-MENU-----------*/
.logo-img
{
    float: left;

    width: 154px;
    height: 64px;
    margin-top: 10px;
    margin-left: -5px;
}

.logo-img a
{
    border: none;
}

.main-nav
{
    float: left;

    min-width: 370px;
    margin-top: 22px;
    margin-left: 16px;
}

.main-nav .main-nav-list
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav-item
{
    position: relative;

    display: inline-block;

    height: 18px;
    padding: 8px 14px;

    vertical-align: top;
}

.main-nav-item::after
{
    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';
}

.main-nav-item:hover
{
    border-radius: 16px;
    background-color: #f8f7f4;
}

.main-nav-item:active
{
    border-radius: 16px;
    background-color: #f8f7f4;
    box-shadow: inset 0 2px 2px 0 #696969;
}

.main-nav-item > a
{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.main-nav-item:hover > a,
.main-nav-item:active > a
{
    color: #000;
    border-bottom: none;
}

.main-nav-list > .current-page
{
    color: #fff;
    border-radius: 16px;
    background-color: #d07058;
}

.current-page > a
{
    border-bottom: none;
}


.sub-menu
{
    position: absolute;
    top: 40px;
    left: -8px;

    display: none;

    min-width: 143px;
    margin: 0;
    padding: 0;

    list-style: none;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
}

.main-nav-item:hover .sub-menu,
.sub-menu:hover
{
    z-index: 10;

    display: block;
}

.sub-menu-item
{
    padding: 10px;
    padding-bottom: 5px;
}

.sub-menu-item:hover
{
    background-color: #fbded7;
}

.sub-menu-item:active
{
    background-color: #f6b5a5;
}

.sub-menu .current-page
{
    color: #fff;
    background-color: #d07058;
}

.sub-menu-item:nth-child(1)
{
    border-radius: 5px 5px 0 0 ;
    border-bottom: 1px solid #d1d0ce;
    padding-bottom: 10px;
}

.sub-menu-item:last-child
{
    border-radius: 0 0 5px 5px;
    padding-bottom: 15px;
}

.sub-menu a
{
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;

    display: block;

    padding: 0 10px;

    text-decoration: none;
    border-bottom: none;

    color: #000;
}

.sub-menu a:hover
{
    border-bottom: none;
}


.sub-menu-item:nth-child(1) a
{
    font-weight: 700;
}
/*-----------MAIN-MENU-----------*/



/*-----------ADDITIONAL-MENU-----------*/
.additional-menu
{
    position: relative;

    float: right;

    min-width: 270px;
    margin-top: 24px;

    text-align: right;
}

.additional-menu-item
{
    display: inline-block;

    vertical-align: top;
}

.additional-menu-item > a::after
{
    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';
}

.additional-menu-item:hover form,
.additional-menu-item form:hover
{
    z-index: 10;

    display: block;
}

.additional-menu-item:hover .cart-form,
.additional-menu-item .cart-form:hover
{
    z-index: 10;

    display: block;
}

.additional-menu-item > a
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    position: relative;

    display: block;

    margin-right: 5px;

    border: none;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, .2);
}

.additional-menu-item > a::before
{
    position: absolute;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

.additional-menu-item > a:hover
{
    color: #000;
    background-color: #f8f7f4;
}

.additional-menu-item > a:active
{
    color: #000;
}


.additional-menu .search-btn
{
    width: 16px;
    height: 16px;
    padding: 8px;
}

.additional-menu .search-btn::before
{
    top: 50%;
    left: 50%;

    width: 18px;
    height: 17px;

    transform: translate(-50%, -50%);

    background-position: -587px -10px;
}

.additional-menu .search-btn:hover::before
{
    background-position: -624px -10px;
}

.additional-menu .search-form
{
    position: absolute;
    top: 36px;
    left: -300px;

    display: none;

    width: 310px;
    padding: 20px 15px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.2);
}

.search-form input
{
    width: 100%;
}

.search-form .upper-search
{
    top: 2px;
    left: -15px;

    width: 100px;
}

.additional-menu .login-btn
{
    height: 16px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 45px;
}

.additional-menu .login-btn::before
{
    top: 6px;
    left: 17px;

    width: 21px;
    height: 19px;

    background-position: -505px -10px;
}

.additional-menu .login-btn:hover::before
{
    background-position: -546px -10px;
}

.additional-menu .login-form
{
    position: absolute;
    top: 36px;
    left: -130px;

    display: none;

    width: 240px;
    padding: 10px 16px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.2);
}

.login-form input[type='email'],
.login-form input[type='password']
{
    width: 100%;
    margin: 10px 0;
}

.upper-email
{
    position: absolute;
    top: 5px;
    left: 25px;
}

.upper-password
{
    position: absolute;
    top: 67px;
    left: 25px;
}

.login-form .login-btn-red
{
    float: left;

    margin-top: 5px;
}

.login-form .login-links
{
    float: right;

    width: 120px;
    margin-top: 5px;

    text-align: left;
}

.login-form a
{
    font-size: 13px;
    font-weight: 300;
    line-height: 12px;

    text-decoration: none;

    color: #888886;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.login-form a:hover,
.login-form :active
{
    color: #e95038;
    border-bottom: 1px solid rgba(255,188,158,.3);
}


.additional-menu .cart-btn
{
    height: 16px;
    margin-right: 0;
    padding-top: 8px;
    padding-right: 35px;
    padding-bottom: 8px;
    padding-left: 45px;
}

.additional-menu .cart-btn::before
{
    top: 6px;
    left: 18px;

    width: 21px;
    height: 20px;

    background-position: -10px -10px;
}

.additional-menu .cart-btn:hover::before,
.additional-menu .item-in-cart::before
{
    background-position: -53px -10px;
}

.additional-menu .item-in-cart
{
    padding-right: 15px;
    padding-left: 45px;

    color: #000;
    background-color: #f8f7f4;
}


.additional-menu .cart-form
{
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    z-index: 10;

    position: absolute;
    top: 36px;
    right: 0;

    display: none;

    min-width: 510px;
    min-height: 180px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 13px;

    color: #000;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.2);
}

.cart-item
{
    margin-top: 36px;
}

.cart-item-delete
{
    position: relative;

    display: inline-block;

    padding: 0;

    vertical-align: top;

    border: none;
}

.cart-item-delete::before
{
    position: absolute;
    top: 6px;
    right: 3px;

    width: 15px;
    height: 1px;

    content: '';
    transform: rotate(-45deg);

    background-color: #000;
}

.cart-item-delete::after
{
    position: absolute;
    top: 6px;
    right: 3px;

    width: 15px;
    height: 1px;

    content: '';
    transform: rotate(45deg);

    background-color: #000;
}

.cart-item-title-1,
.cart-item-title-2
{
    position: relative;

    display: inline-block;

    width: 230px;
    margin-right: 15px;
    margin-left: 50px;

    text-align: left;
    vertical-align: top;
}

.cart-item-title-1::before
{
    position: absolute;
    top: -8px;
    left: -45px;

    display: block;

    width: 33px;
    height: 33px;

    content: '';

    border-radius: 50%;
    background-image: url('../img/ic-cart-1.jpg');
    background-repeat: no-repeat;
}

.cart-item-title-2::before
{
    position: absolute;
    top: -8px;
    left: -45px;

    display: block;

    width: 33px;
    height: 33px;

    content: '';

    border-radius: 50%;
    background-image: url('../img/ic-cart-2.jpg');
    background-repeat: no-repeat;
}


.cart-item-count
{
    display: inline-block;

    margin-right: 23px;

    vertical-align: top;
}

.cart-item-worth
{
    display: inline-block;

    vertical-align: top;
    margin-right: 18px;
}

.total
{
    font-size: 15px;
    font-weight: 700;

    margin: 15px 0;
    padding-top: 16px;

    border-top: 1px solid #cacac7;
}

.cart-form .red-btn
{
    float: right;

    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
/*-----------ADDITIONAL-MENU-----------*/



/*-----------HEADER-CONTACTS-----------*/
.header-contacts
{
    float: right;

    width: 180px;
    margin-top: 18px;

    text-align: right;
}

.header-contacts p
{
    margin: 0;
}

.header-contacts .working-hours
{
    font-size: 14px;
    line-height: 16px;
}

.header-contacts .telephone
{
    font-size: 22px;
    line-height: 24px;

    margin-top: 5px;
}
/*-----------HEADER-CONTACTS-----------*/



/*-----------SLIDER-----------*/
.slider
{
    position: relative;

    margin-bottom: 41px;
    padding-top: 235px;
}

.slide-list
{
    /*padding-left: 24px;*/
}

.slide-1,
.slide-2,
.slide-3
{
    display: none;

    width: 690px;
    margin: auto;
}

.toggle-background-1,
.toggle-background-2,
.toggle-background-3
{
    display: none;
}

.toggle-background-1:checked ~ .index-background .slide-1,
.toggle-background-2:checked ~ .index-background .slide-2,
.toggle-background-3:checked ~ .index-background .slide-3
{
    display: block;
}

.toggle-background-1:checked ~ .index-background
{
    background-color: #849d8f;
    background-image: url(../img/index_bkcgr_1.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.toggle-background-2:checked ~ .index-background
{
    background-color: #8996a6;
    background-image: url(../img/index_bkcgr_2.png);
    background-repeat: no-repeat;
    background-position: -20px 0;
}

.toggle-background-3:checked ~ .index-background
{
    background-color: #a7958e;
    background-image: url(../img/index_bkcgr_3.png);
    background-repeat: no-repeat;
    background-position: 15px 0;
}

.slider-controls
{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.slider-controls label
{
    font-size: 0;

    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 4px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
}

.slider-controls label:hover
{
    background-color: rgba(255, 255, 255, .2);
}

.slider-controls label:active
{
    background-color: #fff;;
}

.index-background{min-width: 900px;}

.toggle-background-1:checked ~ .index-background .slider-control-1,
.toggle-background-2:checked ~ .index-background .slider-control-2,
.toggle-background-3:checked ~ .index-background .slider-control-3
{
    background-color: #fff;
}

.slider h1
{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;

    margin-bottom: 30px;
    text-align: center;
}

.slider .slide-btn
{
    font-size: 32px;
    line-height: 63px;

    width: 200px;
    height: 63px;
    margin-left: 205px;
    padding: 0 40px;

    text-align: center;

    color: #fff;
    border-radius: 100px;
    background-image: linear-gradient(#f26843, #e84c36);
    box-shadow: 0 2px 2px rgba(172,16,0,.34);
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
}

.slider .slide-btn:hover
{
    background-color: #fff;
    background-image: linear-gradient(rgba(242,104,67,.8), rgba(232,76,54,.8));
    box-shadow: 0 2px 2px rgba(172,16,0,1);
}

.slider .slide-btn:active
{
    background-color: #000;
    background-image: linear-gradient(rgba(231,75,54,.93), rgba(241,103,67,.93));
    box-shadow: inset 0 2px 5px rgba(148,39,24,1);
}
/*-----------SLIDER-----------*/



/*-----------AADDITION-----------*/
.addition
{
    width: 380px;
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 25px;

    border-radius: 15px;
}

.addition h2
{
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;

    margin-top: 0;
    margin-bottom: 17px;
}

.addition p
{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin-top: 0;
    margin-bottom: 22px;
}

.addition a
{
    float: right;

    height: 34px;
    padding: 0 22px;
    padding-top: 10px;
}

.addition-raspberry
{
    float: left;

    background-color: #b34466;
    background-image: url(../img/index_raspberry_900.png);
}

.addition-chocolate
{
    float: right;

    background-color: #44291f;
    background-image: url(../img/index_chocolate_900.png);
}
/*-----------AADDITION-----------*/



/*-----------ICECREAM ITEM-----------*/
.item-list
{
    font-size: 0;

    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.item
{
    position: relative;

    display: inline-block;

    width: 200px;
    /*  margin-right: 20px;*/
    margin-bottom: -50px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 20px;

    text-align: center;
    vertical-align: top;

    border-radius: 5px;
}

.item:hover
{
    z-index: 10;

    background-color: rgba(255,255,255,.2);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
}

.item figure
{
    margin: 0;
    padding: 0;
}

.item img
{
    border-radius: 50%;
    margin-bottom: 5px;
}

.popular-item figure::before
{
    position: absolute;

    width: 60px;
    height: 60px;

    content: '';

    border-radius: 50%;
    background-image: url(../img/hit.png);
    background-repeat: no-repeat;
}

.item .price
{
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    position: absolute;
    top: 150px;
    left: 10px;
}

.item .price:hover
{
    cursor: pointer;
}

.price span
{
    font-size: 30px;
}

.item figcaption
{
    display: inline-block;
    width: 100px;
    display: inline;

    font-size: 16px;
    font-weight: 500;
    line-height: 14px;

    color: inherit;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.item:hover figcaption
{
    border-bottom: none;
}

/*.item a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;

    margin-bottom: 20px;

    color: inherit;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
*/

/*.item:hover a
{
    border-bottom: none;
}*/

.item .red-btn
{
    visibility: hidden;

    width: 195px;
    height: 25px;
    margin: 0px auto;
    margin-top: 7px;
    padding: 10px 0;
    padding-top: 10px;
}

.item:hover .red-btn
{
    visibility: visible;
}
/*-----------ICECREAM ITEM-----------*/



/*-----------SHOP FEATURES-----------*/
.shop-features
{
    margin-top: 10px;
    margin-bottom: 39px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 3px;

    color: #000;
    border-radius: 15px;
    background-color: #eadcc1;
    background-image: url(../img/index_wafer_background.jpg);

    min-height: 330px;
}

.shop-features h2
{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin-top: 3px;
    margin-bottom: 22px;
}

.shop-features p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

    position: relative;

    display: inline-block;

    width: 345px;
    margin: 0;
    margin-right: 14px;
    margin-bottom: 23px;
    padding-left: 56px;

    vertical-align: top;
}

.shop-features p::before
{
    position: absolute;
    top: -13px;
    left: 0;

    width: 49px;
    height: 49px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

.shop-features p:nth-child(odd)
{
    margin-right: 0;
}

.shop-features .icon-icecream::before
{
    background-position: -247px -10px;
}

.shop-features .icon-cow::before
{
    background-position: -179px -10px;;
}

.shop-features .icon-leaf::before
{
    background-position: -316px -10px;
}

.shop-features .icon-termometer::before
{
    background-position: -385px -10px;
}
/*-----------SHOP FEATURES-----------*/



/*-----------BLOG AND SUBSCRIPTION-----------*/
.blog-and-subscription
{
    margin-bottom: 38px;
}

.new-in-blog
{
    float: left;

    width: 380px;
    min-height: 180px;
    padding: 20px;
    padding-top: 18px;

    border-radius: 15px;
    background-image: url(../img/index_raspberry_background_900.jpg);
    background-size: cover;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.new-in-blog h2
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    margin-top: 5px;
    margin-bottom: 4px;

    color: #5a5a5a;
}

.new-in-blog a
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    width: 290px;

    text-decoration: underline;

    color: #323232;
    background-color: rgba(255,255,255,.8);
    /*  border-bottom: 1px solid #000000;*/
}

.new-in-blog a:hover
{
    color: #e95038;
    /*border-bottom: 1px solid rgb(255,188,158);*/
}

.subscription-wrap
{
    float: right;

    width: 408px;
    padding: 6px;

    border-radius: 15px;
    background-color: #f8f7f4;
    background-image: url(../img/index_post_background.gif);
}

.subscription
{
    position: relative;

    box-sizing: border-box;
    padding-top: 27px;
    padding-right: 15px;
    padding-bottom: 32px;
    padding-left: 20px;

    border-radius: 10px;
    background-color: #f8f7f4;
}

.subscription p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

    margin: 0;
    margin-bottom: 15px;

    color: #5a5a5a;
}

.subscription input
{
    display: inline-block;

    width: 228px;
    margin-right: 9px;

    vertical-align: top;
}

.upper-email-subscription
{
    position: absolute;
    bottom: 77px;
    left: 25px;
}

.subscription button
{
    display: inline-block;

    padding: 0 16px;

    vertical-align: top;
}
/*-----------BLOG AND SUBSCRIPTION-----------*/



/*-----------MAP-----------*/
.map
{
    height: 430px;
    margin: 0 auto;
}

.map-wrap
{
    position: relative;
}

.contacts
{
    position: absolute;
    z-index: 10;
    top: 65px;
    right: 20px;

    width: 250px;
    min-height: 253px;
    padding: 28px 25px;
    padding-bottom: 24px;

    color: #323232;
    border-radius: 15px;
    background-color: #fefefe;
}

.contacts p
{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    margin: 0;


    color: #323232;
}

.contacts .adress{
   margin-bottom: 19px;
}

.contacts span
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    margin: 2px 0px;
}

.contacts a
{
    height: 23px;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 25px;
    padding-right: auto;

    text-align: center;
}
/*-----------MAP-----------*/



/*-----------FOOTER-----------*/
.main-footer
{
  padding-bottom: 20px;
}
.social
{
    float: left;

    min-width: 200px;
    margin-top: 38px;
}

.social a
{
    font-size: 0;

    position: relative;

    display: inline-block;

    margin-right: 46px;

    vertical-align: top;
}

.social a:before
{
    position: absolute;

    width: 32px;
    height: 32px;

    content: '';

    border: 3px solid rgba(255,255,255,.5);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    box-shadow: inset 0 2px 1px 0 transparent;
}

.social a:hover::before
{
    border: 3px solid rgba(255,255,255,.7);
}

.social a:active::before
{
    box-shadow: inset 0 2px 1px 0 #888;
}

.social-btn-tw::before
{
    background-position: -719px -10px;
}

.social-btn-inst::before
{
    background-position: -453px -10px;
}

.social-btn-fb::before
{
    background-position: -92px -10px;
}

.social-btn-vk::before
{
    background-position: -772px -10px;
}


.documents
{
    float: left;

    width: 340px;
    margin-top: 36px;
    margin-left: 80px;
}

.documents a
{
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;

    position: relative;

    display: inline-block;

    margin-right: 26px;

    vertical-align: top;
}

.documents .for-contractors
{
    font-weight: 700;
}

.documents .for-contractors::before
{
    position: absolute;
    top: 2px;
    left: -22px;

    width: 15px;
    height: 13px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -144px -10px;
}

.documents .about-manufacturing
{
    margin-right: 38px;
}

.documents a:nth-child(2n)
{
    margin-right: 0;
}

.copyright
{
    float: right;

    margin-top: 20px;
    margin-right: 0px;
}

.copyright p
{
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;

    margin: 0;
    margin-top: -1px;

    color: inherit;
}
/*-----------FOOTER-----------*/



/*----------------CATALOG----------------*/
.breadcrumbs
{
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;

    margin: 0;
    margin-top: -22px;
    margin-bottom: 7px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li
{
    position: relative;

    display: inline-block;

    margin-right: 18px;

    vertical-align: top;
}

.breadcrumbs a::after
{
    position: absolute;
    top: 0;
    left: 61px;

    content: '»';
}


.catalog-header
{
    font-size: 35px;
    line-height: 30px;

    margin: 0;
    margin-bottom: 28px;
}

.catalog-selection
{
    font-size: 0;

    margin-bottom: 20px;
}

.catalog-selection h3
{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;

    margin: 4px 16px;
    margin-bottom: 6px;
}

.catalog-selection label
{
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}

.catalog-selection > div,
.catalog-selection button
{
    display: inline-block;

    margin-right: 15px;
    margin-bottom: 10px;

    vertical-align: bottom;
}

.catalog-background
{
    height: 20px;
    padding: 9px 15px;
    padding-top: 7px;

    border-radius: 16px;
    background-color: rgba(255,255,255,.3);
}

.catalog-sort .catalog-select
{
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;

    width: 195px;
    height: 36px;
    padding: 0 15px;


    color: #fff;
    border: none;

    -webkit-appearance: none;
    background-image: url("../img/select-arrow.png");
    background-position: 170px center;
    background-repeat: no-repeat;
    line-height: 1em;

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}

.catalog-sort .catalog-select:focus
{
    color: #000;
    outline: none;
    background-color: #fff;

    background-image: url("../img/select-arrow-black.png");
}

.catalog-sort .catalog-select::-ms-expand
{
    display: none;
}

.catalog-price-range .price-scale
{
    width: 188px;
    height: 4px;
    margin-top: 8px;

    background-color: rgba(255,255,255,.5);
}

.catalog-price-range .price-range-fact
{
    position: relative;

    width: 100px;
    height: 4px;
    margin-top: 7px;
    margin-left: 35px;

    background-color: #f8f7f4;
}

.catalog-price-range .price-toggle
{
    position: absolute;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: #f8f7f4;
    box-shadow: 0 1px 1px rgba(105,105,105,.6);
}

.catalog-price-range .price-toggle:hover
{
    cursor: pointer;
    border: 1px solid  #f8f7f4;
}

.catalog-price-range .price-toggle-min
{
    top: -8px;
    left: -16px;
}

.catalog-price-range .price-toggle-max
{
    top: -8px;
    right: -2px;
}


.catalog-selection .catalog-fatness
{
    margin-right: 0;
}

.catalog-fatness input
{
    display: none;
}

.catalog-fatness label
{
    position: relative;

    margin-right: 50px;
}

.catalog-fatness label:hover
{
    cursor: pointer;
}

.catalog-fatness label:first-of-type
{
    margin-left: 30px;
}

.catalog-fatness label:last-of-type
{
    margin-right: 0;
}

.catalog-fatness label::before
{
    position: absolute;
    top: -1px;
    left: -30px;

    width: 18px;
    height: 18px;

    content: '';

    border: 1px solid #f8f7f4;
    border-radius: 50%;
    background-color: transparent;
}

.catalog-fatness label:hover::before
{
    width: 16px;
    height: 16px;

    border: 2px solid #f8f7f4;
}

.catalog-fatness input:checked + label::after
{
    position: absolute;
    top: 4px;
    left: -25px;

    width: 10px;
    height: 10px;

    content: '';

    border-radius: 50%;
    background-color: #f8f7f4;
}

.catalog-filler .catalog-background
{
    padding-right: 17px;
    padding-left: 18px;
}

.catalog-filler input
{
    display: none;
}

.catalog-filler label
{
    position: relative;

    margin-right: 54px;
}

.catalog-filler label:hover
{
    cursor: pointer;
}

.catalog-filler label:first-of-type
{
    margin-left: 30px;
}

.catalog-filler label:last-of-type
{
    margin-right: 0;
}

.catalog-filler label::before
{
    position: absolute;
    top: 0px;
    left: -30px;

    width: 17px;
    height: 17px;

    content: '';

    border: 1px solid #f8f7f4;
    border-radius: 3px;
    background-color: transparent;
}

.catalog-filler label:not(.disabled):hover::before
{
    width: 15px;
    height: 15px;

    border: 2px solid #f8f7f4;
}

.catalog-filler input:checked + label::after
{
    position: absolute;
    top: 2px;
    left: -25px;

    width: 5px;
    height: 8px;

    content: '';
    transform: rotate(45deg);

    border-right: 3px solid #f8f7f4;
    border-bottom: 3px solid #f8f7f4;
}

.catalog-filler input:disabled + label::before
{
    border: 1px solid rgba(248,247,244,.4);
}
.catalog-filler input:disabled + label::after
{
    border-right-color: rgba(248,247,244,.4);
    border-bottom-color: rgba(248,247,244,.4);
}

.catalog-selection button
{
    float: right;

    font-size: 16px;
    font-weight: 500;
    line-height: 32px;

    margin-top: 26px;
    margin-right: 0px;
    margin-left: 3px;
    padding: 0px 28px;
    padding-top: 1px;

    color: #fff;
    border: 2px solid #f5f6f5;
    border-radius: 30px;
    outline: none;
    background-color: rgba(248,247,244,.3);
}

.catalog-selection button:hover
{
    cursor: pointer;

    color: #000;
    background-color: #fafbfb;
}

.catalog-selection button:active
{
    cursor: pointer;

    color: #000;
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px #696969;
    border: none;
}


.paginator-wrap
{
    border-bottom: 1px solid rgba(255,255,255,.3);
    margin-bottom: -5px;
}

.paginator
{
    font-size: 0;

    float: right;

    margin: 0;
    margin-right: 3px;
    margin-top: 54px;
    margin-bottom: 30px;
    padding: 0;

    list-style: none;
}

.paginator li
{
    position: relative;

    display: inline-block;

    width: 27px;
    height: 27px;
    margin-right: 2px;

    text-align: center;
    vertical-align: top;

    border-radius: 50%;
}

.paginator li:hover:not(.arrow)
{
    background-color: rgba(255,255,255, .3);
}

.paginator li:active:not(.arrow)
{
    color: #000;
    background-color: #fff;
}

.paginator li:last-of-type
{
    width: 10px;
    margin-right: 8px;
    /*margin-left: 8px;*/
}

.paginator li:last-of-type
{
    width: 10px;
    margin-right: 0;
    margin-left: 8px;
}

.paginator li:first-of-type::before
{
    position: absolute;
    top: 5px;
    left: 10px;

    width: 9px;
    height: 14px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -690px -10px;
}

.paginator li:last-of-type::before
{
    position: absolute;
    top: 5px;
    left: 5px;

    width: 9px;
    height: 14px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -661px -10px;
}

.paginator a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    color: inherit;
    border-bottom: none;
}

.paginator .current-page
{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    color: #000;
    background-color: #fff;
}
/*----------------CATALOG----------------*/



/*----------------FEEDBACK----------------*/
.feedback
{
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;

    width: 430px;
    padding: 20px 25px;

    transition: 1.5s;
    transform: translate(-50%, -250%);

    color: #343434;
    border-radius: 10px;
    background-color: #f8f7f4;
}

.popup-window
{
  transform: translate(-50%, -100%);
  visibility: visible;
}

.feedback-background
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: rgba(0,0,0, .3);
    visibility: hidden;
}

.background-visible
{
    visibility: visible;
}

.feedback h3
{
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;

    margin: 0 0 14px;
}

.feedback .close-btn
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}

.feedback .close-btn::before
{
    position: absolute;
    top: 8px;
    right: -2px;

    width: 24px;
    height: 2px;

    content: '';
    transform: rotate(-45deg);

    border-radius: 2px;
    background-color: #000;
}

.feedback .close-btn::after
{
    position: absolute;
    top: 8px;
    right: -2px;

    width: 24px;
    height: 2px;

    content: '';
    transform: rotate(45deg);

    border-radius: 2px;
    background-color: #000;
}

.feedback .text
{
    margin: 10px 0;
}

.feedback input
{
    width: 240px;
}

.feedback textarea
{
    overflow: auto;

    width: 429px;
    min-height: 155px;

    resize: none;
}

/*.feedback .label-comment{
  top: -160px;
}*/

.feedback .feedback-form-btn
{
    font-size: 17px;
    line-height: 43px;

    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: auto;
    padding: 0 25px;

    color: #fff;
}

.feedback .upper-placeholder
{
    left: 38px;
}

.upper-name-feedback
{
    top: 52px;
}

.upper-email-feedback
{
    top: 114px;
}

.upper-textarea-feedback
{
    top: 176px;
}
/*----------------FEEDBACK----------------*/
